<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave2</name>
  <description></description>
  <remoteFS>/home/slave2/jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.806.v2253cedd3295">
    <host>172.31.89.34</host>
    <port>22</port>
    <credentialsId>124a4cb9-ce5f-4c0a-9c92-88c2fc98eff2</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slave2</label>
  <nodeProperties/>
</slave>